*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
body, html{
  width: 100%;
  height: 100%;
  background-color: #151515;
}
body{
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXZ5enRxamZvbGpldTUyNTY3MHpwd204dWY0OTcyZzhnaG1uM3F2YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qNgfqylQ0IKjkxYSpi/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: #101010;
  color: #fff;
}
#searchContainer{
  display: flex;
  width: 335px;
  align-items: center;
  justify-content: space-between;
}
#shopName{
  text-align: center;
  font-size: xx-large;
  margin-left: 30px;
  font-weight: bold;
}
header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li{
  display: flex;
  background-color: #151515;
  justify-content: center;
  height: 35px;
  width: 125px;
  border-radius: 7px;
  margin: 0 10px 0 10px;
}
header ul li:hover{
  background-color: #252525;
  transition: 0.35s;
}
header ul li a{
  line-height: 35px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin: 0 15px 0 15px;
}
#searchContainer input{
  height: 25px;
  width: 250px;
  text-align: center;
  border-radius: 7px;
  background-color: #202020;
  color: white;
  border: none;
  outline: none;
}
#searchContainer input:hover{
  background-color: #303030;
  transition: 0.25s;
}
#searchContainer button{
  width: 80px;
  height: 25px;
  font-size: 15px;
  border-radius: 7px;
  background-color: #202020;
  color: white;
  border: none;
}
#searchContainer button:hover{
  background-color: #303030;
  transition: 0.25s;
  cursor: pointer;
}
#score { 
  text-align: center;
  color: #fff; 
}
#game {
  width: 600px;
  height: 300px;
  border: 2px solid white;
  background-image: url("./background.jpg");
  background-size: cover;
}
#dino {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("./dino.png");
  background-size: cover;
}
#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("./rock.png");
  background-size: cover;
  animation: rock 1.33s infinite;
}
@keyframes rock {
  0%{left: 550px;}
  100%{left: -50px;}
}
.jump-animation {
  animation: jump 0.5s;
}
@keyframes jump {
  0%{top: 225px;}
  50%{top: 75px;}
  75%{top: 75px;}
  100%{top: 225px;}
}
#container{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}